
@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Black+Ops+One&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Doto:wght@100..900&family=Foldit:wght@100..900&family=Goldman:wght@400;700&family=Jersey+10&family=Londrina+Shadow&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik+Beastly&family=Rubik+Dirt&family=Rubik+Scribble&family=Rubik:ital,wght@0,300..900;1,300..900&family=Turret+Road:wght@200;300;400;500;700;800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Vast+Shadow&family=Zen+Dots&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    color: #fff;
    font-family: 'Rubik Scribble', sans-serif;
    background-color: #42457b;
    background-image: url(../assets/pexels-viniciusvieirafotografia-2560246.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

#main {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#logo {
    font-weight: 600;
    font-size: 2rem;
    padding: 1rem 2rem;
    position: fixed;
}

#logo a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    font-size: 2rem;
}

#logo a:hover {
    color: rgb(236, 101, 11);
}

h1 {
    margin-bottom: 15rem;
    margin-left: 3rem;
    position: fixed;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

h1 div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2px;
}

.reading {
    font-size: 5rem;
}

.city, .weather-icon {
    font-size: 3rem;
    margin-bottom: -5px;
    line-height: 1;
}

.time-and-date, .condition {
    line-height: 1;
    font-size: 15px;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;}

.weather-icon {
    display: block;
    font-size: 3rem;
    line-height: 1;
}

#side {
background: rgba(4, 170, 109, 0.3);
width: 35%;
}

#search {
    padding: 2rem 2rem 1rem;
    display: flex;
    gap: 16px;
    height: 5rem;
}

#search-bar {
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Rubik Scribble', sans-serif;
    width: 60%;
    background-color: transparent;
    color: #fff;
    border: none;
    border-bottom: 1px solid #ccc;
}

#search-bar::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

#search-btn {
    background-color: rgba(236, 101, 11, 0.5);
    border: none;
    padding: 10px;
    display: flex;
    align-items: center;
}

.search-icon {
    font-size: 1.5rem;
    color: #fff;
}

.weather-details, .next-days {
    padding: 1rem 2rem;
}

hr {
    margin-left: 2rem;
    margin-right: 2rem;
}

.weather-details h3, .next-days h3 {
    background-color: rgba(236, 101, 11, 0.4);
    padding: 5px;
}

.details {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

.detail {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.days {
    padding-top: 1rem;
}

.day {
    background-color: rgba(236, 101, 11, 0.2);
    font-weight: 600;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.day:hover {
    color: rgb(236, 101, 11);
    transition: color 1s;
}

.day div {
    display: flex;
    flex-direction: column;
}

.days-reading {
    font-size: 1.5rem;
}

.weather-label, .weekday {
    font-size: 0.9rem;
}

.date {
    font-size: 0.7rem;
}