
@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Black+Ops+One&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Doto:wght@100..900&family=Foldit:wght@100..900&family=Goldman:wght@400;700&family=Jersey+10&family=Londrina+Shadow&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik+Beastly&family=Rubik+Dirt&family=Rubik+Scribble&family=Rubik:ital,wght@0,300..900;1,300..900&family=Turret+Road:wght@200;300;400;500;700;800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Vast+Shadow&family=Zen+Dots&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    background-color: #42457b;
    background-image: url(./assets/pexels-viniciusvieirafotografia-2560246.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
}

#main {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

#logo {
    font-weight: 600;
    font-size: 2rem;
    padding: 1rem 2rem;
    position: fixed;
}

#logo a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    font-size: 2rem;
}

#logo a:hover {
    color: rgb(236, 101, 11);
}

#search {
    margin: 0 auto;
    width: 50%;
    display: flex;
}

#search-bar {
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: none;
    border: 1px solid #ccc;
    border-right: none;
    padding: 0 10px;
}

#search-bar::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
}

#search-btn {
    background-color: transparent;
    border: none;
    padding: 10px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-left: none;
}

.search-icon {
    font-size: 1.5rem;
    color: #fff;
}

h1 {
    margin-left: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h1 > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2px;
}

.reading {
    font-size: 3rem;
}

.city, .current-weather-icon {
    font-size: 2rem;
    margin-bottom: -5px;
    line-height: 1;
}

.current-weather-icon img { 
    width: 5rem;
    filter: brightness(0) invert(1);
} 

.time-and-date, .current-condition {
    display: flex;
    flex-direction: column;
    line-height: 1;
    font-size: 15px;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;}

.current-weather-icon {
    display: block;
    font-size: 3rem;
    line-height: 1;
}

#side {
    background: rgba(4, 170, 109, 0.3);
    width: 35%;
    padding-top: 2rem;
    min-height: fit-content;
}

.next-days {
    padding: 1rem 2rem;
}

hr {
    margin-left: 2rem;
    margin-right: 2rem;
}

.next-days h3 {
    background-color: rgba(236, 101, 11, 0.4);
    padding: 5px;
}

.days {
    padding-top: 1rem;
}

.day {
    font-weight: 600;
    border-radius: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: stretch;
    gap: 5px;
}

.day > div {
    background-color: rgba(236, 101, 11, 0.2);
    padding: 0.5rem;
    display: flex;
}

.day div:hover {
    color: rgb(236, 101, 11);
    transition: color 1s;
}

.next-days-weekday-and-date {
    writing-mode:sideways-lr;
}

.date {
    font-size: 0.7rem;
}

.next-days-temp-and-condition {
    display: flex;
    align-items: center;
    gap: 5px;
    flex: 1;
}

.next-days-temp-and-condition > div, .next-days-weekday-and-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.days-reading, .feelslike-reading {
    font-size: 1.5rem;
}

.weather-label, .feelslike-title, .weekday {
    font-size: 0.9rem;
}

.next-days-feelslike {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    flex: 1;
}

.next-days-feelslike span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.next-days-weather-icon img { 
    width: 3rem;
    filter: brightness(0) invert(1);
}